@model IEnumerable<ProdutoModel>
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<div class="container mt-5">
    <form method="post" asp-action="ImportaExcel" asp-controller="Home" enctype="multipart/form-data" class="text-center d-flex flex-column" >

        <div class="input-group">
            <input type="file" class="form-control" name="form" />
            <button class="btn btn-primary" type="submit">Importar Excel</button>
            <a href="@Url.Action("ExportarArquivo", "Home")" onclick="ExportarArquivo();" class="btn btn-success">
                <i class="fas fa-arrow-alt-circle-down"></i>
            </a>
        </div>
    </form>
    <table class="table table-striped table-hover mt-5">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Quantidade</th>
                <th>Marca</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Count() > 0)
            {
                @foreach(var produto in Model)
                {
                    <tr>
                        <td>@produto.Id</td>
                        <td>@produto.Codigo</td>
                        <td>@produto.Nome</td>
                        <td>@produto.Valor</td>
                        <td>@produto.Quantidade</td>
                        <td>@produto.Marca</td>
                        <td><button class="btn btn-danger" onclick="ExcluirProduto(@produto.Id)">Excluir</button></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center">Sem produtos cadastrados!</td>
                </tr>
            }
           
        </tbody>
    </table>
</div>

<script>
    function ExcluirProduto(id) {
        if (confirm('Tem certeza que deseja excluir este produto?')) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ExcluirProduto", "Home")',
                data: { id: id },
                success: function () {
                    window.location.reload(); 
                },
                error: function () {
                    alert('Ocorreu um erro ao tentar excluir o produto.');
                }
            });
        }
    }
</script>